<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PetrolEng"  class="org.cfs.PetrolEngine" scope="prototype"/>
    <bean id="car" class="org.cfs.Car">

       <!--  <property name="engine" ref="PetrolEng"> </property>       -->
        <!-- <property> tag is used for setter injection-->


        <constructor-arg name="engine" ref="PetrolEng"> </constructor-arg>
        <!-- <constructor-arg> tag is used for constructor injection-->
    </bean>
</beans>